<!-- search.html -->
<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="/static/css/search.css" type="text/css" />
<link rel="stylesheet" href="/static/css/reset.css" type="text/css" />
  <title>전적검색결과</title>
</head>
<body>

<header id="header">
    <div class="inner">
        <div class="homeBtn" ><a href="/">
            <img src="/static/img/logo.png" alt="bsggg" width="65" height="20">
        </a></div>

    <div class="searchContainer">
        <form action="/search">
            <input
              type="text"
              class="searchBox"
              value=""
              placeholder="소환사이름"
              name="name"
            />
            <input type="submit" class="btn" value="검색">
        </form>
        </div>
    </div>
</header>

<div class="wrap">
  <div class="left">
    <div class="leftBox Box">
      <span>
        <span class="name">{{sum_name}}</span>님의 <br/>
          전적검색결과
      </span>
      {% if length != 0 %} {% for result in results %} {% if result[0] ==
      'RANKED_FLEX_SR' %}
      <div class="rank">자유랭크</div>
      {% else %}
      <div class="rank">솔로랭크</div>
      {% endif %}
      <div class="tier">{{result[1]}} {{result[2]}}</div>
      <div class="lp">{{result[5]}} LP</div>
      <div class="tierinfo">
        <span class="winlose">{{result[3]}} 승 {{result[4]}} 패</span>
        <span class="percent">승률 : {{result[-1]}} %</span>
      </div>
      <br />
      {% endfor %} {% else %}
      <div>아직 리그가 없습니다. 분발하세요!</div>
      {% endif %}
    </div>
    <div class="most_champion Box">
        <a>
            most champion
        </a>

    </div>
  </div>


  <div class="content">
  <div class="contentBox Box">
  <table class="table table-bordered">
    <thead class="black white-text">
      <tr>
        <th scope="col">INFO</th>
        <th scope="col">LV/CS</th>
        <th scope="col">룬</th>
        <th scope="col">게임 정보</th>
        <th scope="col">데미지</th>
        <th scope="col">블루 오브젝트</th>
        <th scope="col">레드 오브젝트</th>
        <th scope="col">블루 팀</th>
        <th scope="col">레드 팀</th>
      </tr>
    </thead>



 {% for Game_DATA in Game_DATAs %}
  {% if Game_DATA['stats']['win'] == True %}
    <tbody class="win" style="background: #A3CFEC">
      <tr>
        <td>
          {{ Game_DATA['game_time'] // 60 }}분 게임 <br />
                <span>승리</span>
        </td>
        <td>
          Lv : {{ Game_DATA['stats']['champLevel'] }}<br />
          <span class="badge badge-info"
            >cs : {{ Game_DATA['stats']['totalMinionsKilled'] }} </span
          ><br />
            <img
            src="http://ddragon.leagueoflegends.com/cdn/10.10.4/img/champion/{{ Game_DATA['champ_name']}}.png"

            width="50"
            class="img-responsive center-block"
            alt="Sample post image"
          />
        </td>
        <td>
            <div>
          <img class="rune1"
            src="https://static.u.gg/assets/lol/runes/{{ Game_DATA['stats']['perkPrimaryStyle'] }}.png"
            width="25"
            class="img-responsive center-block"
            alt="Sample post image"
          />
          <img class="rune2"
            src="https://static.u.gg/assets/lol/runes/{{ Game_DATA['stats']['perkSubStyle'] }}.png"
            width="25"
            class="img-responsive center-block"
            alt="Sample post image"
          />
                </div>
            <div>
             <img class="spell1"
            src="http://ddragon.leagueoflegends.com/cdn/10.10.3216176/img/spell/{{ Game_DATA['spell1'] }}.png"
            width="25"
            class="img-responsive center-block"
            alt="Sample post image"
          />
             <img class="spell2"
            src="http://ddragon.leagueoflegends.com/cdn/10.10.3216176/img/spell/{{ Game_DATA['spell2'] }}.png"
            width="25"
            class="img-responsive center-block"
            alt="Sample post image"
          />
                </div>
        </td>

        <td>
          <span class="badge badge-info"
            >획득골드 : {{ Game_DATA['stats']['goldEarned'] }} </span
          ><br />
          {% if Game_DATA['game_time'] // 60 <=
          Game_DATA['stats']['visionScore'] %}
          <span class="badge badge-primary">시야점수 좋음</span><br />
          {% else %}
          <span class="badge badge-danger">시야점수 나쁨</span><br />
          {% endif %}
          <span class="badge badge-info"
            >시야점수 : {{ Game_DATA['stats']['visionScore'] }}</span
          >
        </td>

        <td>
          {{
          Game_DATA['stats']['kills'] }}/{{ Game_DATA['stats']['deaths'] }}/{{
          Game_DATA['stats']['assists'] }}
          <br />
            <div class="progressbar">
                <progress value= "{{ Game_DATA['stats']['totalDamageDealtToChampions']}}" max="80000" ></progress>
            </div>
          <span class="badge badge-info"
            > 데미지 : {{ Game_DATA['stats']['totalDamageDealtToChampions']
            }}</span
          >
        </td>
        <td>
          <span class="badge badge-primary badge-pill"
            >포탑 파괴: {{Game_DATA['b_towerKills']}}</span
          ><br />
          <span class="badge badge-primary badge-pill"
            >억제기 파괴: {{Game_DATA['b_inhibitorKills']}}</span
          ><br />
          <span class="badge badge-primary badge-pill"
            >바론 처치: {{Game_DATA['b_baronKills']}}</span
          ><br />
          <span class="badge badge-primary badge-pill"
            >용 처치: {{Game_DATA['b_dragonKills']}}</span
          >
        </td>
        <td>
          <span class="badge badge-danger badge-pill"
            >포탑 파괴 : {{Game_DATA['r_towerKills']}}</span
          ><br />
          <span class="badge badge-danger badge-pill"
            >억제기 파괴 : {{Game_DATA['r_inhibitorKills']}}</span
          ><br />
          <span class="badge badge-danger badge-pill"
            >바론 처치 : {{Game_DATA['r_baronKills']}}</span
          ><br />
          <span class="badge badge-danger badge-pill"
            >용 처치 : {{Game_DATA['r_dragonKills']}}</span
          >
        </td>
        <td>
          {% for j in range(5) %}
          <span class="badge badge-light">{{ Game_DATA['b_player'][j] }}</span
          ><br />
          {% endfor %}
        </td>
        <td>
          {% for j in range(5) %}
          <span class="badge badge-light">{{ Game_DATA['r_player'][j] }}</span
          ><br />
          {% endfor %}
        </td>
      </tr>
    </tbody>

  {% elif Game_DATA['stats']['win'] == False %}

      <tbody class="lose" style="background: #E2B6B3">
      <tr>
        <td>
          {{ Game_DATA['game_time'] // 60 }}분 게임 <br />
                <span class="win">패배</span>
        </td>
        <td>
          Lv : {{ Game_DATA['stats']['champLevel'] }}<br />
          <span class="badge badge-info"
            >cs : {{ Game_DATA['stats']['totalMinionsKilled'] }} </span
          ><br />
            <img
            src="http://ddragon.leagueoflegends.com/cdn/10.10.4/img/champion/{{ Game_DATA['champ_name']}}.png"

            width="50"
            class="img-responsive center-block"
            alt="Sample post image"
          />
        </td>
        <td>
                <div>
          <img class="rune1"
            src="https://static.u.gg/assets/lol/runes/{{ Game_DATA['stats']['perkPrimaryStyle'] }}.png"
            width="25"
            class="img-responsive center-block"
            alt="Sample post image"
          />
          <img class="rune2"
            src="https://static.u.gg/assets/lol/runes/{{ Game_DATA['stats']['perkSubStyle'] }}.png"
            width="25"
            class="img-responsive center-block"
            alt="Sample post image"
          />
                </div>
            <div>
             <img class="spell1"
            src="http://ddragon.leagueoflegends.com/cdn/10.10.3216176/img/spell/{{ Game_DATA['spell1'] }}.png"
            width="25"
            class="img-responsive center-block"
            alt="Sample post image"
          />
             <img class="spell2"
            src="http://ddragon.leagueoflegends.com/cdn/10.10.3216176/img/spell/{{ Game_DATA['spell2'] }}.png"
            width="25"
            class="img-responsive center-block"
            alt="Sample post image"
          />
                </div>

        </td>

        <td>
          <span class="badge badge-info"
            >획득골드 : {{ Game_DATA['stats']['goldEarned'] }} </span
          ><br />
          {% if Game_DATA['game_time'] // 60 <=
          Game_DATA['stats']['visionScore'] %}
          <span class="badge badge-primary">시야점수 좋음</span><br />
          {% else %}
          <span class="badge badge-danger">시야점수 나쁨</span><br />
          {% endif %}
          <span class="badge badge-info"
            >시야점수 : {{ Game_DATA['stats']['visionScore'] }}</span
          >
        </td>

        <td>
          {{
          Game_DATA['stats']['kills'] }}/{{ Game_DATA['stats']['deaths'] }}/{{
          Game_DATA['stats']['assists'] }}
          <br />
            <div class="progressbar">
                <progress value= "{{ Game_DATA['stats']['totalDamageDealtToChampions']}}" max="80000" ></progress>
            </div>
          <span class="badge badge-info"
            > 데미지 : {{ Game_DATA['stats']['totalDamageDealtToChampions']
            }}</span
          >
        </td>
        <td>
          <span class="badge badge-primary badge-pill"
            >포탑 파괴: {{Game_DATA['b_towerKills']}}</span
          ><br />
          <span class="badge badge-primary badge-pill"
            >억제기 파괴: {{Game_DATA['b_inhibitorKills']}}</span
          ><br />
          <span class="badge badge-primary badge-pill"
            >바론 처치: {{Game_DATA['b_baronKills']}}</span
          ><br />
          <span class="badge badge-primary badge-pill"
            >용 처치: {{Game_DATA['b_dragonKills']}}</span
          >
        </td>
        <td>
          <span class="badge badge-danger badge-pill"
            >포탑 파괴 : {{Game_DATA['r_towerKills']}}</span
          ><br />
          <span class="badge badge-danger badge-pill"
            >억제기 파괴 : {{Game_DATA['r_inhibitorKills']}}</span
          ><br />
          <span class="badge badge-danger badge-pill"
            >바론 처치 : {{Game_DATA['r_baronKills']}}</span
          ><br />
          <span class="badge badge-danger badge-pill"
            >용 처치 : {{Game_DATA['r_dragonKills']}}</span
          >
        </td>

        <td>
          {% for j in range(5) %}
          <span class="badge badge-light">{{ Game_DATA['b_player'][j] }}</span
          ><br />
          {% endfor %}
        </td>

        <td>
          {% for j in range(5) %}
          <span class="badge badge-light">{{ Game_DATA['r_player'][j] }}</span
          ><br />
          {% endfor %}

        </td>
      </tr>


    </tbody>
  {%  endif %}
{% endfor %}
  </table>
  </div>
  </div>
</div>
</body>